div
{
	border-style: solid;
	border-width: 1px;
	border-color: blue;
}

span
{
	border-style: solid;
	border-width: 1px;
	border-color: red;
}

.prob
{
	border: 2px solid brown
}

.card
{
	border: 2px solid green;
}

td, th
{
	border: 1px solid green;
	word-wrap: none;
	overflow: hidden;
	width: 110px;
	max-width: 110px;
}

.guess
{
	border: 2px solid yellow;
}